*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f9f9f9;
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  padding:15px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(10px);
  color:white;
  z-index:1000;
}

.nav-links{
  display:flex;
  gap:25px;
  list-style:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:500;
}

.menu-btn{
  display:none;
  font-size:24px;
  cursor:pointer;
}

/* HERO */
.hero{
  height:100vh;
  background:url("images/hero.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
  color:white;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
}

.hero-content{
  position:relative;
}

.hero h1{
  font-size:48px;
  font-weight:700;
}

/* ABOUT */
.about{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:80px 8%;
  gap:40px;
}

.about-text{
  flex:1;
}

.about-text button{
  margin-top:15px;
  padding:10px 20px;
  background:#00bcd4;
  border:none;
  color:white;
  cursor:pointer;
  border-radius:5px;
}

.about-images{
  flex:1;
  display:flex;
  gap:10px;
}

.about-images img{
  width:100px;
  height:150px;
  object-fit:cover;
  border-radius:10px;
}

/* WHY */
.why{
  background:#0097a7;
  color:white;
  text-align:center;
  padding:60px 8%;
}

.why-grid{
  display:flex;
  justify-content:space-around;
  margin-top:30px;
}

/* SERVICES */
.services{
  padding:80px 8%;
  text-align:center;
}

.cards{
  display:flex;
  gap:20px;
  justify-content:center;
  margin-top:40px;
  flex-wrap:wrap;
}

.card{
  background:white;
  padding:30px;
  width:220px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

/* DESTINATIONS */
.destinations{
  padding:60px 8%;
  text-align:center;
}

.dest-grid{
  display:flex;
  gap:20px;
  justify-content:center;
  margin-top:30px;
}

.dest-card{
  background:url("images/destination.jpg") center/cover no-repeat;
  width:250px;
  height:150px;
  border-radius:15px;
  color:white;
  display:flex;
  align-items:end;
  padding:15px;
  font-weight:600;
}

/* RESPONSIVE */
@media(max-width:768px){

  .nav-links{
    display:none;
    flex-direction:column;
    background:white;
    position:absolute;
    right:8%;
    top:60px;
    padding:20px;
  }

  .nav-links.active{
    display:flex;
  }

  .nav-links a{
    color:black;
  }

  .menu-btn{
    display:block;
  }

  .about{
    flex-direction:column;
    text-align:center;
  }

  .why-grid{
    flex-direction:column;
    gap:20px;
  }

  .dest-grid{
    flex-direction:column;
    align-items:center;
  }
}
